$theme-colors: (
        "primary": #2866B3,
        "secondary": #343A40,
        "info": #43AFC0,
        "success": #19792F,
        "warning": #B69022,
        "neutral": #f0f0f0,
        "danger": #B92836
);

//default boostrapvue
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

.L_LAYOUTS {
  padding:0;
  margin:0;
}

.content-rows {
  max-width: 1200px;
  margin: auto;
}

.mockup-img {
  width:96%;
  min-height:150px;
  padding:2%;
  background:gainsboro;
}

.mockup-paragraph {
  width:96%;
  min-height:150px;
  padding:2%;
}

.mockup-text-line {
  width: 100%;
  height:12px;
  background:gainsboro;
  margin-bottom:15px;
}