@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i');
@import url('https://fonts.googleapis.com/css?family=Mansalva:400');
@import url('https://fonts.googleapis.com/css?family=Courgette|Dancing+Script|Didact+Gothic|Exo|Indie+Flower|Mansalva|Montserrat|Pacifico|Quicksand|Raleway');

$theme-colors: (
        "primary": #2866B3,
        "secondary": #343A40,
        "info": #43AFC0,
        "success": #19792F,
        "warning": #B69022,
        "neutral": #f0f0f0,
        "danger": #B92836
);

$font-family-sans-serif: 'Montserrat', 'Lato', 'Mansalva', "Quicksand", Arial, sans-serif !default;
$font-family-serif:      'Courgette', "Dancing Script", 'Pacifico', serif !default;
$font-family-monospace:  'Didact Gothic', 'Exo', 'Indie Flower', "Raleway", "Courier New", monospace !default;
$font-family-base:       $font-family-sans-serif !default;


//default boostrapvue
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';


.row {
  padding:0;
  margin:0;
}

.L_LAYOUTS {
  padding:0;
  margin:0;
}

.rf-primary {
  color: theme-color("primary");
}

.rf-secondary {
  color: theme-color("secondary");
}

.rf-info {
  color: theme-color("info");
}

.rf-success {
  color: theme-color("success");
}

.rf-warning {
  color: theme-color("warning");
}

.rf-neutral {
  color: theme-color("neutral");
}

.rf-danger {
  color: theme-color("danger");
}

.rf-background-primary {
  background-color: theme-color("primary");
}

.rf-background-secondary {
  background-color: theme-color("secondary");
}

.rf-background-info {
  background-color: theme-color("info");
}

.rf-background-success {
  background-color: theme-color("success");
}

.rf-background-warning {
  background-color: theme-color("warning");
}

.rf-background-neutral {
  background-color: theme-color("neutral");
}

.rf-background-danger {
  background-color: theme-color("danger");
}

.rf-fill {
  width:98%;
  min-height:100px;
  height:100%;
  padding:1%;
  margin:0;
}

.rf-fill-align-center {
  width:98%;
  min-height:100px;
  height:100%;
  padding:1%;
  margin:0;
  text-align:center;
}

.rf-title-margin {
  margin-top:-30px;
  .rf-block-title {
    padding-top: 15px;
    font-size: 30px;
    padding-bottom: 10px;
    text-align: center;
    box-shadow: 0 6px 6px #c1c1c1;
    border-radius: 10px;
  }
}

.rf-title-margin-div {
  margin-top:30px;
  border:1px solid gainsboro;
  border-top:none;
  width:94%;
  padding:3%;
  box-shadow: 4px 4px 15px #e4e4e4;
}

.content-rows {
  max-width: 1200px;
  margin: auto;
}



.simple-paragraph {
  padding:15px;
}

.mockup-container {
  width: 96%;
  padding: 2%;
  max-width:600px;
  min-width: 150px;
  min-height: 100px;
  height:100%;
  max-height: 350px;
  margin-left:auto;
  margin-right:auto;
  vertical-align: middle;
  text-align: center;
}


.mockup-img {
  width:100%;
  min-height:150px;
  background:gainsboro;
}

.mockup-spinner {
  color:gainsboro;
  padding:25px;
}

.mockup-text-line {
  width:100%;
  min-height:12px;
  max-height: 200px;
  background:gainsboro;
  margin-bottom:15px;
}

//styling for tinymce contents
.rf-img-float-left {
  float: left;
  margin: 0 10px 0 10px;
}

.rf-img-float-right {
  float: right;
  margin: 0 10px 0 10px;
}



@media screen and (max-width: 2400px) {
  .rf-img-md-100-sm-100{
    width:100%;
    height: auto;
  }
  .rf-img-md-50-sm-100{
    width:50%;
    height: auto;
  }
  .rf-img-md-50-sm-50{
    width:50%;
    height: auto;
  }
  .rf-img-md-25-sm-50 {
    width: 25%;
    height: auto;
  }
  .rf-img-md-25-sm-100 {
    width: 25%;
    height: auto;
  }
}

@media screen and (max-width: 500px) {

  .rf-img-md-100-sm-100{
    width:100%;
    height: auto;
  }
  .rf-img-md-50-sm-100{
    width:100%;
    height: auto;
  }
  .rf-img-md-50-sm-50{
    width:50%;
    height: auto;
  }
  .rf-img-md-25-sm-50 {
    width: 50%;
    height: auto;
  }
  .rf-img-md-25-sm-100 {
    width: 100%;
    height: auto;
  }
}

//breakpoints


@media screen and (max-width: 2600px) {

  .show_in_tablet{
    display: none;
  }

  .show_in_mobile{
    display:none;
  }

  .show_in_desktop{
    display:block;
  }

}

@media screen and (max-width: 992px) {

  .show_in_tablet{
    display: none;
  }
  .show_in_mobile{
    display:none;
  }

  .show_in_desktop{
    display:block;
  }

}

@media screen and (max-width: 768px) {

  .show_in_mobile{
    display:none;
  }
  .show_in_desktop{
    display:none;
  }

  .show_in_tablet{
    display: block;
  }
}

@media screen and (max-width: 576px) {

  .show_in_desktop{
    display:none;
  }
  .show_in_tablet{
    display: none;
  }
  .show_in_mobile{
    display:block;
  }
}

